<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./style.css">
    <meta charset="utf-8" />
    <title>Chat</title>
</head>

<body>

    <div id="root"></div>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/babel" src="./js/Login.jsx"></script>
    <script type="text/babel" src="./js/ChatInput.jsx"></script>
    <script type="text/babel" src="./js/ChatContent.jsx"></script>
    <script type="text/babel" src="./js/App.jsx"></script>
    <script type="text/babel" src="./js/index.jsx"></script>

</body>

</html>